body{
  color: black
}

.wrapperHorizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapperVertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

}


.circle {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin-bottom: 10px;
}

.red {
  background-color: red;
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.aqua {
  background-color: aqua;
}

.blue {
  background-color: blue;
}

.violet {
  background-color: violet;
}